body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    align-items: center;
    text-align: center;
    margin: 5%;
    box-shadow: 0px 3px 10px rgba(26, 229, 26, 0.4);
}

li {
    list-style: none;
}  

.texto {
    margin: 10px;
}

h1, h3 {
    color: darkgreen;
}

h2 {
    background: black;
    color: white;
}
 .branco {
    color: white;
}

header {
    background-color: black;
}

.circul-img {
    background-image: url('foto-my.jpg');
    background-size: cover;
    border-radius: 20% 2% ;
    width: 200px;
    height: 200px;
    box-shadow: px 3px 10px rgba(26, 229, 26, 0.4)0;;
}

ul {
    display: flex;
    justify-content: space-between;
}

.Insta {
    background-image: url('Insta.png');
    width: 15%;
}


.Git {
    background-image: url('github.png');
    width: 30%;
}
.email {
    background-image: url('email.png');
    width: 15%;
}

strong {
    color: rgb(146, 145, 150);
}




* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', Helvetica, sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.79);
    box-shadow: 0px 3px 10px rgba(26, 229, 26, 0.4);
}


.nav-a {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: darkgreen;
    font-weight: 400;
}

.nav-link:hover {
    background: darkgreen;
    color: rgb(0, 0, 0);
}

.menu-icon-mobol {
    display: none;
}

.mobol-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-a {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    
    .menu-icon-mobol {
        display: block;
    }

    .menu-icon-mobol button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobol-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobol-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }



    .mobol-menu button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

.menu-icon-mobol {
    background-color: darkgreen;
    border-radius: 5px;

}




.butt-hb {
    color:white;
    font-size:25px;
    text-align: center;
    background-color:green;
    display:flexbox;
    padding:10px 20px;
    border-radius: 5px;
    border-color: green;
}    

.butt-hb:hover {
    background: rgb(0, 0, 0);
    color: rgba(26, 229, 26, 0.4);
    border-color: rgba(26, 229, 26, 0.4);
}

/*Inicio dos códigos dos projetos*/

.imgDosSites {
    width: 400px;
    height: 260px;
    box-shadow: px 3px 10px rgba(26, 229, 26, 0.4);
}
.btnRep {
    background: rgba(26, 229, 26, 0.4);
    color: black;
    width: 400px;
    height: 30px;
    cursor: pointer;
}

a, #strong2 {
    text-decoration: none;
    color: black;
}

#strong2:hover {
    color: white;
}

